<form  [formGroup]="staffForm" >
    <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput placeholder="FirstName" formControlName="fname" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Middle name</mat-label>
        <input matInput placeholder="middle name" formControlName="mname" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="lastname" formControlName="lname" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100 example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="address" formControlName="address" />
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" [disabled]="staffForm.invalid" (click)="onSave()"><mat-icon>save</mat-icon>save</button>
</form>
